page-admin {
	.view-wrapper{

		.subtitle{
			font-size: 30px;
			margin-bottom: 23px;
			padding-bottom: 7px;
			border-bottom: solid 1px #dedede;
			color: #488aff;
		}
		
		.principal-section{
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 15px;
			padding: 30px;
			margin: 15px;
			background-color: #fefefe;
			color:#488aff;
			border: none;
			-webkit-box-shadow: 2px 2px 9px 1px rgba(181,181,181,1);
			-moz-box-shadow: 2px 2px 9px 1px rgba(181,181,181,1);
			box-shadow: 2px 2px 9px 1px rgba(181,181,181,1);

			.title-section{
				width: 80%;
				display: inline-block;
				.title{
					font-size: 40px;
				}

			}

		}
	
		.publications-section{
			padding: 15px;
			margin: 15px;
			background-color: #fefefe;
			border: none;
			-webkit-box-shadow: 2px 2px 9px 1px rgba(181,181,181,1);
			-moz-box-shadow: 2px 2px 9px 1px rgba(181,181,181,1);
			box-shadow: 2px 2px 9px 1px rgba(181,181,181,1);
			.active-users{
				font-size: 28px;
				text-align: center;
				font-weight: 600;
				color: #488aff;
			}

			.counters{
				font-size: 28px;
				text-align: center;
				font-weight: 600;
				color: #488aff;

				span{
					margin-right: 80px;
				}
				
			}

		}

	}
	
}
