page-home {
	.view-wrapper{
		
	.principal-section{
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 15px;
		padding: 30px;
		margin: 15px;
		background-color: #fefefe;
		color:#488aff;
		border: none;
		-webkit-box-shadow: 2px 2px 9px 1px rgba(181,181,181,1);
        -moz-box-shadow: 2px 2px 9px 1px rgba(181,181,181,1);
        box-shadow: 2px 2px 9px 1px rgba(181,181,181,1);

		.title-section{
			width: 80%;
			display: inline-block;
			.title{
				font-size: 80px;
				
			}
		}

		.buttons-section{
			width: 20%;
			display: inline-block;
			position: relative;
			top: 20px;

			.username{
				text-align: right;
				//color: #6d6d6d;
				font-size: 24px
			}
		}
	}
	
	.publications-section{
		padding: 15px;
		margin: 15px;
		background-color: #fefefe;
		border: none;
		-webkit-box-shadow: 2px 2px 9px 1px rgba(181,181,181,1);
        -moz-box-shadow: 2px 2px 9px 1px rgba(181,181,181,1);
        box-shadow: 2px 2px 9px 1px rgba(181,181,181,1);
	
	}
}
	
	//TODO: This code is duplicated on main.scss. Take it to an external .scss file
	.card-block{
		width: 33%;
		display: inline-block;
		
		&:hover {
            cursor: pointer;
		}
		

        ion-card ion-card-content{
            &:hover {
                ion-card-title, p{
                    color: #488aff;
                }             
                
            }
        }
	}
}
