<!-- <ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Bidding</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content>
  <div class="view-wrapper">
    
    <div class="principal-section">
      <div class="title-section">
        <h2 class="title">BIDDING</h2>
      </div>
      <div class="buttons-section">
          <h4 class="username" *ngIf="user.isLogged">Hello {{user.name}}!</h4>
          <button *ngIf="!user.isLogged" ion-button block (click)="goToLogin()">Login</button>
          <button *ngIf="!user.isLogged" ion-button outline block (click)="goToSignin()">Sign in</button>
          <button *ngIf="user.isLogged" ion-button block (click)="goToMain()">Search</button>
      </div>
    </div>
    
    <div class="publications-section">
        <div  class="card-block" *ngFor="let pub of pubsArr">
          <ion-card (click)="openPub(pub)">
            <div class="picture-view">
                <img [src]="pub.imgURL[0]"/>
            </div>
            
            <ion-card-content>
              <ion-card-title>
                  {{pub.title}}
                </ion-card-title>
              <p>
                  {{pub.description}}
              </p>
            </ion-card-content>
          </ion-card>
          
        </div>
    </div>
    
  </div>
</ion-content>
