<ion-header>

  <ion-navbar>
    <ion-title>User</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <div class="statistics-section">
    <h4 class="subtitle">Your Statistics</h4>
    <div class="chart-wrapper">

      <div class="chart-container">
        <h4 class="chart-title">Amount of Auctions: {{auctionCount.length}}</h4>
        <price-chart [price]="priceData"></price-chart>
      </div>
      
      <div class='other-information'>
        <h4 class="info-title">Amount of Auctions: {{auctionCount.length}}</h4>
        <div class="counter">
          <span>Open Publications: {{openPubs.length}}</span>
        </div>

        <div class="counter">
          <span>Expired Publications: {{expiredCount.length}}</span>
        </div>

        <div class="counter">
          <span>Successfully Transactions: {{successTransaction.length}}</span>
        </div>

        <div class="counter">
          <span>Fail Transactions: {{failTransactions.length}}</span>
        </div>

      </div>

      <div class="chart-container">
        <h4 class="chart-title">Types of Publications: {{pubsArr.length}}</h4>
        <donut-chart [types]="typesData"></donut-chart>
      </div>
    </div>
  </div>

  <div class="user-section">
    <h4 class="subtitle">Profile</h4>
    <div class="form-wrapper">
      <form [formGroup]="editUserForm">
        <ion-list>

          <ion-item>
            <ion-label floating>Name</ion-label>
            <ion-input type="text" required id="name" formControlName="name"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>Username</ion-label>
            <ion-input type="text" required id="username" formControlName="username"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input type="password" id="password" formControlName="password"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>Country</ion-label>
            <ion-select required id="country" formControlName="country">
              <ion-option *ngFor="let country of countries" [(value)]="country.id">{{ country.name }}</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label floating>Province</ion-label>
            <ion-select required id="province" formControlName="province">
              <ion-option *ngFor="let province of provinces" [(value)]="province.id">{{ province.nombre }}</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label floating>City</ion-label>
            <ion-select required id="city" formControlName="city">
              <ion-option *ngFor="let city of cities" [(value)]="city.id">{{ city.nombre }}</ion-option>
            </ion-select>
          </ion-item>

          <div class="button-wrapper">
            <button ion-button outline (click)="save()" [disabled]="!editUserForm.valid">Save</button>
          </div>

        </ion-list>
      </form>
    </div>
  </div>

  <div class="publications-section">
    <h4 class="subtitle">Your Publications</h4>
    <div class="card-block" *ngFor="let pub of pubsArr">
      <ion-card (click)="goToDetails(pub)">
        <!--  <img src="../content/img/relax.jpg"> -->
        <ion-card-content>
          <ion-card-title>
            {{pub.title}}
          </ion-card-title>
          <p>
            {{pub.description}}
          </p>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

</ion-content>