<ion-header>

  <ion-navbar>
    <ion-title>User</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding> 

  <div class="user-section">
    <h4 class="subtitle">Profile</h4>
    <form [formGroup]="editUserForm">
        <ion-list>
            
          <ion-item>
            <ion-label floating>Name</ion-label>
            <ion-input type="text" required id="name" formControlName="name"></ion-input>
          </ion-item>
    
          <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input type="password" id="password" formControlName="password"></ion-input>
          </ion-item>
    
          <ion-item>
            <ion-label floating>Country</ion-label>
            <ion-select required id="country" formControlName="country">
              <ion-option *ngFor="let country of countries" [(value)]="country.id">{{ country.name }}</ion-option>
            </ion-select>
          </ion-item>
    
          <ion-item>
            <ion-label floating>Province</ion-label>
            <ion-select required id="province" formControlName="province">
              <ion-option *ngFor="let province of provinces" [(value)]="province.id">{{ province.nombre }}</ion-option>
            </ion-select>
          </ion-item>
    
          <ion-item>
            <ion-label floating>City</ion-label>
            <ion-select required id="city" formControlName="city">
              <ion-option *ngFor="let city of cities" [(value)]="city.id">{{ city.nombre }}</ion-option>
            </ion-select>
          </ion-item>
    
          <ion-item>
              <button ion-button outline (click)="save()" [disabled]="!editUserForm.valid">Save</button>
          </ion-item>
    
        </ion-list>
    </form>
  </div>

  <div class="publications-section">
    <h4 class="subtitle">Your Publications</h4>
    
  </div>

  
</ion-content>
