page-user {

    .subtitle{
        font-size: 30px;
        margin-bottom: 23px;
        padding-bottom: 7px;
        border-bottom: solid 1px #dedede;
        color: #488aff;
    }

    .statistics-section {
        background-color: #fefefe;
        border: none;
        padding: 30px;
        margin: 15px;
        -webkit-box-shadow: 2px 2px 9px 1px rgba(181,181,181,1);
        -moz-box-shadow: 2px 2px 9px 1px rgba(181,181,181,1);
        box-shadow: 2px 2px 9px 1px rgba(181,181,181,1);
        font-size: 18px;

        .chart-wrapper{
            display: flex;
            justify-content: space-between;
            .chart-container{
                width: 33%;

                .chart-title{
                    font-size: 18px;
                    text-align: center;
                }
            }
        }
    }

    .user-section {
        background-color: #fefefe;
        border: none;
        padding: 30px;
        margin: 15px;
        -webkit-box-shadow: 2px 2px 9px 1px rgba(181,181,181,1);
        -moz-box-shadow: 2px 2px 9px 1px rgba(181,181,181,1);
        box-shadow: 2px 2px 9px 1px rgba(181,181,181,1);
        font-size: 18px;

        .form-wrapper{
            display: flex;
            align-items: stretch;
            width: 100%;

            form{
                width: 100%;
            }
        }
    }

    .publications-section {
        background-color: #fefefe;
        border: none;
        padding: 30px;
        margin: 15px;
        -webkit-box-shadow: 2px 2px 9px 1px rgba(181,181,181,1);
        -moz-box-shadow: 2px 2px 9px 1px rgba(181,181,181,1);
        box-shadow: 2px 2px 9px 1px rgba(181,181,181,1);
        font-size: 18px;
    }

    .button-wrapper{
        text-align: right;
        padding-top: 20px;
    }

    .item.item-md {
        padding: 0;
    }
    
}
