page-main {

    //TODO: Duplicated class load.scss
    .view-wrapper{
        display: flex;
    }

    .pub-section{
        width: 80%;
        border-left: solid 1px #dedede;
        margin-left: 20px;
        padding-left: 20px;
    }

    .filters-section{
        width: 20%;

        .filter-container{
            margin: 10px 0;
        }

        .filter-label{
            margin-top: 30px;
        }

        .toggle-label{
            color: #999;
        }

    }

    


    .add-icon{
        position: absolute;
        right: 80px;
        top: 10px;
        font-size: 30px;
        transition: color 0.3s ease;        

        &:hover {
            color: #488aff;
        }
    }

    .notification-icon{
        position: absolute;
        right: 130px;
        top: 10px;
        font-size: 30px;
        transition: color 0.3s ease;        

        &:hover {
            color: #488aff;
        }

        &.turned-on {
            color: #000;
            animation: notification 1s infinite;
        }
    
        &.turned-off {
            color: #000;
        }
    }

    //TODO: This code is duplicated on main.scss
    .user-icon{
        position: absolute;
        right: 30px;
        top: 10px;
        font-size: 30px;
        transition: color 0.3s ease;        
        
        &:hover {
            color: #488aff;
        }
    }

    //TODO: This class needs to ve moved to a single style sheet. GENERALS
    //TODO: Duplicated Code on load.scss
    .subtitle{
        font-size: 30px;
        margin-bottom: 23px;
        padding-bottom: 7px;
        border-bottom: solid 1px #dedede;
    }

    //TODO: This code is duplicated on home.scss. Take it to an external .scss file
    .card-block{
		width: 33%;
        display: inline-block;
        
        .card .card-content {
            &:hover {
                cursor: pointer;
            }
        }
        
	}

    .select.select-md {
        .select-text {
            margin-left: -16px;
        }
    }

    .item-md.item-toggle {
        .item-inner{
            border-bottom: solid 1px #dedede !important;
        }
        
    }
}
