page-main {
    //TODO: Duplicated class load.scss
    .view-wrapper{
        display: flex;
    }

    .pub-section{
        width: 80%;
        // border-left: solid 1px #dedede;
        // margin-left: 20px;
        // padding-left: 20px;
		padding: 15px;
		margin: 15px;
		background-color: #fefefe;
		border: none;
		-webkit-box-shadow: 1px 1px 7px 2px rgba(230,230,230,1);
		-moz-box-shadow: 1px 1px 7px 2px rgba(230,230,230,1);
		box-shadow: 1px 1px 7px 2px rgba(230,230,230,1);
    }

    .filters-section{
        width: 20%;
		padding: 15px;
		margin: 15px 0 15px 15px;
		background-color: #fefefe;
		border: none;
		-webkit-box-shadow: 1px 1px 7px 2px rgba(230,230,230,1);
		-moz-box-shadow: 1px 1px 7px 2px rgba(230,230,230,1);
		box-shadow: 1px 1px 7px 2px rgba(230,230,230,1);

        .filter-container{
            margin: 10px 0;
        }

        .filter-label{
            margin-top: 30px;
        }

        .toggle-label{
            color: #999;
        }

    }

    .add-icon{
        position: absolute;
        right: 80px;
        top: 10px;
        font-size: 30px;
        transition: color 0.3s ease;        

        &:hover {
            color: #488aff;
        }
    }

    .notification-icon{
        position: absolute;
        right: 130px;
        top: 10px;
        font-size: 30px;
        transition: color 0.3s ease;        

        &:hover {
            color: #488aff;
        }

        &.turned-on {
            color: #000;
            animation: notification 1s infinite;
        }
    
        &.turned-off {
            color: #000;
        }
    }

    //TODO: This code is duplicated on main.scss
    .user-icon{
        position: absolute;
        right: 30px;
        top: 10px;
        font-size: 30px;
        transition: color 0.3s ease;        
        
        &:hover {
            color: #488aff;
        }
    }

    //TODO: This class needs to ve moved to a single style sheet. GENERALS
    //TODO: Duplicated Code on load.scss
    .subtitle{
        font-size: 30px;
        margin-bottom: 23px;
        padding-bottom: 7px;
        border-bottom: solid 1px #dedede;
        color: #488aff;
    }

    //TODO: This code is duplicated on home.scss. Take it to an external .scss file
    .card-block{
		width: 33%;
        display: inline-block;

        &:hover {
			cursor: pointer;
			opacity: 0.7;
		}
		
        &:hover {
			cursor: pointer;
            opacity: 0.7;
		}
		

        .picture-view{
			
			img{
				height: 250px;
			}
		}
        
        .card .card-content {
            .card-price{
                position: absolute;
                top: 200px;
                right: 0;
                background-color: #2ad857;
                min-width: 150px;
                text-align: center;
                color: white;
                
                &.expired{
                    background-color: rgb(110, 110, 110);
                }
                
            }

            &:hover {
                cursor: pointer;
            }
        }

        ion-card ion-card-content{
            min-height: 150px;
            &:hover {

                ion-card-title, p{
                    color: #488aff;
                }             
                
            }
        }
        
	}

    .select.select-md {
        .select-text {
            margin-left: -16px;
        }
    }

    .item-md.item-toggle {
        .item-inner{
            border-bottom: solid 1px #dedede !important;
        }
        
    }
}
