<ion-header>
  <ion-navbar>
    <ion-title>Main</ion-title>
    <div class="add-icon">
      <ion-icon  name="add-circle" (click)="goToLoad()"></ion-icon>
    </div>
    <div class="notification-icon">
        <notifications></notifications>
      </div>
    <div class="user-icon">
      <ion-icon name="contact" (click)="goToUser()"></ion-icon>
    </div>   
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="view-wrapper">
    <section class="filters-section">
      <form [formGroup]="filtersForm">

      <h4 class="subtitle">Filters</h4>

      <div class="filter-container">
        <h4 class="filter-label">Types</h4>
        <ion-item>
          <ion-label>Type</ion-label>
          <ion-select multiple="true" required id="types" formControlName="type">
            <!-- <ion-option [value]="-1">All</ion-option> -->
            <ion-option *ngFor="let type of types" [value]="type.id">{{ type.description }}</ion-option>
          </ion-select>
        </ion-item>
      </div>

      <div class="filter-container">
        <h4 class="filter-label">Status</h4>
        <ion-item>
          <ion-label>Type</ion-label>
          <ion-select multiple="true" required id="status" formControlName="status">
            <!-- <ion-option [value]="-1">All</ion-option> -->
            <ion-option *ngFor="let stat of status" [value]="stat.id">{{ stat.description }}</ion-option>
          </ion-select>
        </ion-item>
      </div>

      <div class="filter-container">
        <h4 class="filter-label">Sort By</h4>
        <ion-list>
          <ion-item>
            <ion-label>Sort By</ion-label>
            <ion-select required id="sortBy" formControlName="sortBy">
              <ion-option *ngFor="let sortBy of sortByArr" [value]="sortBy.id">{{ sortBy.description }}</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label class="toggle-label">Descending</ion-label>
            <ion-toggle formControlName="sortByAsc" (click)="toggleSort()"></ion-toggle>
          </ion-item>
        </ion-list>
      </div>

      <div class="filter-container">
        <h4 class="filter-label">Categories</h4>
        <ion-item>
          <ion-label>Categories</ion-label>
          <ion-select multiple="true" required id="categories" formControlName="categories">
              <!-- <ion-option [value]="-1">All</ion-option> -->
            <ion-option *ngFor="let cat of categories" [value]="cat.id">{{cat.description}}</ion-option>
          </ion-select>
        </ion-item>
      </div>

      <div class="filter-container">
        <h4 class="filter-label">Location</h4>
        <ion-item>
          <ion-label>Country</ion-label>
          <ion-select required id="country" formControlName="country">
            <ion-option *ngFor="let country of countries" [value]="country.id">{{ country.name }}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Province</ion-label>
          <ion-select required id="province" formControlName="province">
            <ion-option *ngFor="let province of provinces" [value]="province.id">{{ province.nombre }}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>City</ion-label>
          <ion-select required id="city" formControlName="city">
            <ion-option *ngFor="let city of cities" [value]="city.id">{{ city.nombre }}</ion-option>
          </ion-select>
        </ion-item>
    </div>

    </form>
    </section>

    <section class="pub-section">
      <h4 class="subtitle">Results</h4>
      <div  class="card-block" *ngFor="let pub of pubsArr">
        <ion-card (click)="openPub(pub)">
        <!--  <img src="../content/img/relax.jpg"> -->
          <ion-card-content>
            <ion-card-title>
              {{pub.title}}
              </ion-card-title>
            <p>
              {{pub.description}}
            </p>
          </ion-card-content>
        </ion-card>
      </div>
    </section>
  </div>
</ion-content>