<ion-header>
  <ion-navbar>

    <ion-title>Publication</ion-title>

    <div class="notification-icon"  *ngIf="user.isLogged">
      <notifications></notifications>
    </div>

    <div class="user-icon">
      <ion-icon name="contact" (click)="goToUser()" *ngIf="user.isLogged"></ion-icon>
    </div>

  </ion-navbar>
</ion-header>

<ion-content>
  
  <section class="apply-wrapper">

    <div class="apply-section" *ngIf="pub.isDonation">
      <div class="offerers-count">
        <label class="title">Applyers Count:</label>
        <span class="amount">{{pub.offerers.length}}</span>
      </div>
      <div class="apply-button">
        <button ion-button block large color="danger" (click)="apply()" [disabled]="disabledApply()">Apply</button>
      </div>
    </div>

    <div class="offer-section" *ngIf="pub.isAuction">
      <div class="higher-offer">
        <span class="title">Highest Offer:</span>
        <span class="amount" *ngIf="pub.offerers.length">{{ higestOffer | currency:'USD':true:'2.2-4' }}</span>
        <span class="amount" *ngIf="!pub.offerers.length">
          Nobody has offered yet!
        </span>
      </div>

      <div class="amount-section">
        <span class="title">Amount:</span>
        <div class="input">
          <input type="number" min="{{pub.minimunPrice}}" [(ngModel)]="offerAmount">
        </div>

      </div>
      <div class="offer-button">
        <span *ngIf="!user.isLogged">You need to have an account to offer.</span>
        <button ion-button block large color="danger" (click)="offer()" [disabled]="disabledOffer()">Offer</button>
      </div>
    </div>
  </section>

  <div class="view-wrapper">
    <h4 class="subtitle">{{pub.title}}</h4>
    <div class="info-weapper">
      <section class="info-section">

        <div class="item-data">
          <label clasS="data-label">Description:</label>
          <span class="data-value">{{ pub.description }}</span>
        </div>

        <div class="item-data">
          <label clasS="data-label">Product Status:</label>
          <span class="data-value">{{ statusView }}</span>
        </div>

        <div class="item-data">
          <label clasS="data-label">Location:</label>
          <span class="data-value">{{cityView}}, {{provinceView}}, {{countryView}}</span>
        </div>

      </section>

      <section class="info-section">

        <div class="item-data" *ngIf="pub.isAuction">
          <label clasS="data-label">Minimun Price:</label>
          <span class="data-value">{{ pub.minimunPrice | currency:'USD':true:'2.2-4' }}</span>
        </div>

        <div class="item-data" *ngIf="!pub.isExpired">
          <label clasS="data-label">Expires in:</label>
          <span class="data-value countdown">{{ message }}</span>
        </div>

        <div class="item-data" *ngIf="pub.isExpired">
          <label clasS="data-label">Expires in:</label>
          <span class="data-value">Expired</span>
        </div>

        <div class="item-data" *ngIf="pub.isExpired">
            <label clasS="data-label">Winner:</label>
            <span class="data-value">{{pub.winner.username}}</span>
          </div>
        
      </section>

      <section class="picture-section">

        <div class="picture-view">
          <img [src]="imgView">
        </div>

        <!-- <div *ngFor="let img of pub.imgURL" class="mini-view">
          <img [src]="img" (click)="showImg(img)">
        </div> -->

      </section>
    </div>
  </div>

  <section class="comments-wrapper">
    <h4 class="subtitle">Comments</h4>

    <div class="comments" *ngIf="pub.comments.length">
      
      <div class="comment" *ngFor="let comment of pub.comments">
        <span class="user-comment">{{comment.username}} says:</span>
        <span class="text-comment">{{comment.commentText}}</span>
      </div>
    </div>

    <ion-list>
      <ion-item>
        <ion-label stacked>Add Comment</ion-label>
        <ion-input type="text" [(ngModel)]="commentText"></ion-input>
      </ion-item>
      <button ion-button block outline (click)="addComment()" [disabled]="!commentText.length">Add</button>
    </ion-list>

  </section>

</ion-content>