#type-province-chart {
    display: flex;
    justify-content: center;
}

.bar {
    fill: steelblue;
}

.bar:hover {
    fill: brown;
}

.axis-title {
    fill: none;
    stroke: black;
    stroke-width: 0.5px;
}