page-load {
    
    //TODO: Duplicated class on main.scss
    .view-wrapper{
        display: flex;
        align-items: stretch;   
        background-color: #fefefe;
        border: none;
        margin: 15px;
		-webkit-box-shadow: 1px 1px 7px 2px rgba(230,230,230,1);
		-moz-box-shadow: 1px 1px 7px 2px rgba(230,230,230,1);
		box-shadow: 1px 1px 7px 2px rgba(230,230,230,1);
    }

    .img-section{
        width: 50%;
        padding: 15px;
        margin: 15px;
    }

    .form-section{
        width: 50%;
        padding: 15px;
        margin: 15px;
    }

    //TODO: This code is duplicated on main.scss
    .user-icon{
        position: absolute;
        right: 30px;
        top: 10px;
        font-size: 30px;
        transition: color 0.3s ease;        
        
        &:hover {
            color: #488aff;
        }
    }

    .notification-icon{
        position: absolute;
        right: 80px;
        top: 10px;
        font-size: 30px;
        transition: color 0.3s ease;        

        &:hover {
            color: #488aff;
        }
    }

    //TODO: This class needs to ve moved to a single style sheet. GENERALS
    //TODO: Duplicated Code on main.scss
    .subtitle{
        font-size: 30px;
        margin-bottom: 23px;
        padding-bottom: 7px;
        border-bottom: solid 1px #dedede;
        color: #488aff;
    }
    
    .item-md.item-toggle {
        .item-inner{
            border-bottom: solid 1px #dedede !important;
        }
    }
}
