.notification{
    font-size: 16px;    
    border-bottom: solid 1px #f6f6f6;
    padding: 15px;
    margin-bottom: 5px;
    background-color: #fafafa;
    transition: background-color 0.5s ease;

    // &:first-child{
    //     padding-top: 0;
    // }

    &:last-child{
        border-bottom: none;
    }

    &.unread {
        background-color: rgba(117, 255, 117, 0.226)
    }

    &:hover{
        background-color: rgba(159, 182, 221, 0.562)
    }

    @keyframes notification {
        0% {
            color: rgb(70, 149, 201);
        }

        100%{
            color: rgb(13, 87, 133);
        }
    }    
}